{{define "base"}}
<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Optional meta tags -->
    <meta name="description" content="BnB Booking">
    <meta name="keywords" content="BnB, Booking, Go, JavScript, Bootstrap, Bed and Breakfast">
    <meta name="author" content="Nathaniel Rand">

	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" 
        crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

    <!-- Datepicker: https://github.com/mymth/vanillajs-datepicker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker.min.css">
    <style>
        .datepicker {
            z-index: 10000;
        }
    </style>    

    <!-- Alerts - Notie: https://github.com/jaredreich/notie -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <!-- Alerts Styling - Notie: https://github.com/jaredreich/notie -->
    <style>
        /* override styles here */
        .notie-container {
            box-shadow: none;
        }
    </style>

    <!-- Polyfill provides modern functionality on older browsers (Added for Google Maps JavaScript API) -->      
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- Google Maps Styling. *ATTN: Move to custom style.css for prod. -->
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>

	<title>GoBnB</title>
	
	{{block "css" .}}
		
	{{end}}
</head>
<body>

    {{template "navbar" .}}
    
	{{block "content" .}}
	
	{{end}}
	
    {{template "footer" .}}
    
	{{block "js".}}
	
	{{end}}
    
    <!-- JAVASCRIPT START -->
    
	<!-- Bootstrap JS bundled with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Alerts - Notie: https://github.com/jaredreich/notie -->
    <script src="https://unpkg.com/notie"></script>
    <script>
        function notieAlert(msg, msgType) {
            notie.alert({
                type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
                text: msg,
                stay: false, // optional, default = false
                time: 3, // optional, default = 3, minimum = 1,
                position: 'top' // optional, default = 'top', enum: ['top', 'bottom']
            })            
        }
    </script>

    <!-- Alerts - SweetAlert2: https://github.com/sweetalert2/sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function sweetAlert(title, text, icon, confirmButtonText) {
            Swal.fire({
                title: title,
                html: text,
                icon: icon,
                confirmButtonText: confirmButtonText
            })
        } 
    </script>

    <!-- Custom JavaScript-->
    <script>
        // Declare attention variable.
        let attention = Prompt();

        // Prompt function.
        function Prompt() {
            let toast = function(c) {
                const {
                    icon = "success",
                    msg = "",
                    position = "top-end",
                } = c;

                const Toast = Swal.mixin({
                    toast: true,
                    icon: icon,
                    title: msg,
                    position: position,
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({})
            }

            let success = function(c) {
                const {
                    title = "",
                    msg = "",
                    footer = "",
                } = c;
                
                Swal.fire({
                    icon: 'success',
                    title: title,
                    text: msg,
                    footer: footer
                })
            }

            let error = function(c) {
                const {
                    title = "",
                    msg = "",
                    footer = "",
                } = c;
                
                Swal.fire({
                    icon: 'error',
                    title: title,
                    text: msg,
                    footer: footer
                })
            }

            async function custom(c) {
                const {
                    title = "",
                    msg = "",
                } = c;

                const { value: formValues } = await Swal.fire({
                    title: title,
                    html: msg,
                    focusConfirm: false,
                    showCancelButton: true,
                    willOpen: () => {
                        const elem = document.getElementById('reservation-date-modal');
                        const rp = new DateRangePicker(elem, {
                            buttonClass: 'btn btn-outline-primary mx-auto my-2',
                            clearBtn: true,
                            todayBtn: true,
                            todayBtnMode: 1,
                            format: 'yyyy-mm-dd',
                            showOnFocus: true,
                        })
                    },
                    preConfirm: () => {
                        return [
                            document.getElementById('start').value,
                            document.getElementById('end').value
                        ]
                    },
                    didOpen: () => {
                        document.getElementById('start').removeAttribute('disabled');
                        document.getElementById('end').removeAttribute('disabled');
                    }
                })

                if (formValues) {
                    if (formValues.dismiss !== Swal.DismissReason.cancel) {
                        if (formValues.value !== "") {
                            if (c.callback !== undefined) {
                                c.callback(formValues);
                            }
                        } else {
                            c.callback(false);
                        }
                    } else {
                        c.callback(false);
                    }
                }

                // if (formValues) {
                //     Swal.fire(JSON.stringify(formValues))
                // }
            }
            
            return {
                toast: toast,
                success: success,
                error: error,
                custom: custom,
            }
        }        
    </script>
    
    <!-- JAVASCRIPT END -->

</body>
</html>
{{end}}