{{template "base" .}}

{{define "content"}}
    {{$res := index .Data "reservation"}}
    <div class="container">
		<div class="row">
			<div class="col">
                <h1>Reservation Summary</h1>           
			</div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <!-- <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr> -->
                </thead>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td colspan="2">{{$res.FirstName}} {{$res.LastName}}</td>
                    </tr>
                    <tr>
                        <td>Arival:</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>Departure:</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td colspan="2">{{$res.Email}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td colspan="2">{{$res.Phone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
{{end}}