{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row text-center mt-5">
        <div class="col">
            <h1 class="display-1">TIDAL</h1>
            <h6 class="display-6 text-muted fw-light">ROOM</h6>
            <p class="lead mt-4">Overlook our neighboring cliffside as you enjoy the peaceful atmosphere.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <img src="/static/images/cliffside.jpg" class="img-fluid rounded img-thumbnail mt-5 mx-auto d-block" alt="cliffside">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-grid col-lg-4 col-md-6 mt-4 mb-4">
            <button id="check-availability-btn" class="btn btn-primary btn-lg" type="button">CHECK AVAILABILITY</button>
        </div>
    </div>
    <div class="row justify-content-center text-center mb-5">
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h6 class="display-6"></i> $249 <small class="text-muted"> / NIGHT</small></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center justify-content-center mt-5 mb-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4 class="display-4 mt-5">Amenities</h4>
            <div class="card p-3 mt-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3">Queen Bed <small class="text-muted">(MAX OCCUPANCY OF 2)</small></li>
                    <li class="list-group-item p-3">Meals by an Award Winning Chef</li>
                    <li class="list-group-item p-3">Digital Key <small class="text-muted">(MOBILE APP)</small></li>
                    <li class="list-group-item p-3">Heated Floors</li>
                    <li class="list-group-item p-3">24/7 Concierge</li>
                    <li class="list-group-item p-3">Laundry Service</li>
                    <li class="list-group-item p-3">WiFi / Cable TV</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4 class="display-4 mt-5">Location</h4>
            <div class="card p-3 mt-4">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5 text-center">
        <h4 class="display-4">Reviews</h4>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mt-4">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mt-4">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
    <!-- Availability -->

    <!-- Datepicker: https://github.com/mymth/vanillajs-datepicker -->
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker-full.min.js"></script>
    <script>
        const elem = document.getElementById('reservation-date-picker');
        const rangepicker = new DateRangePicker(elem, {
         buttonClass: 'btn btn-outline-primary mx-auto my-2',
         clearBtn: true,
         todayBtn: true,
         todayBtnMode: 1,
         format: 'yyyy-mm-dd',
         autohide: true,
        }); 
    </script>

    <script>
    // Search availability button.
        document.getElementById("check-availability-btn").addEventListener("click", function() {
            let html = 
                `<div class="my-3">
                    <form id="check-availability-form" action="" method="POST" novalidate class="needs-validation" autocomplete="off">
                        <div class="form-row" id="reservation-date-modal">
                            <div class="input-group">
                                <input disabled required type="text" aria-label="Arrival" name="start" id="start" class="form-control" placeholder="Arrival">
                                <input disabled required type="text" aria-label="Departure" name="end" id="end" class="form-control" placeholder="Departure">
                            </div>
                        </div>
                    </form>
                </div>`          

            attention.custom({
                title: "SELECT DATES", 
                msg: html,
                callback: function(formValues) {
                    console.log("called");

                    fetch('/search-availability-json')
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        console.log(data.ok);
                        console.log(data.message);
                    })
                }       
            });
        })
    </script>

    <!-- Google Maps JavaScript API -->
    <!-- <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: 32.77883386575733, lng: -79.93615340966723 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          mapId: '9cd00495aa9432f3',
          zoom: 13,
          center: uluru,
          
          
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script> -->

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbrXuO9v8z-H55Src0fclNCvIJ9LTQlmY&callback=initMap&libraries=&v=beta&map_ids=9cd00495aa9432f3">
    </script> -->
{{end}}